@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

@keyframes blink {
  0% {
    opacity: 0%;
  }
  5% {
    opacity: 10%;
  }
  10% {
    opacity: 20%;
  }
  15% {
    opacity: 30%;
  }
  20% {
    opacity: 40%;
  }
  25% {
    opacity: 50%;
  }
  30% {
    opacity: 40%;
  }
  35% {
    opacity: 30%;
  }
  40% {
    opacity: 20%;
  }
  45% {
    opacity: 10%;
  }
  50% {
    opacity: 0%;
  }
  55% {
    opacity: 0%;
  }
  60% {
    opacity: 0%;
  }
  65% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  80% {
    opacity: 0%;
  }
  85% {
    opacity: 0%;
  }
  90% {
    opacity: 0%;
  }
  95% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  position: relative;
}

.nav {
  background-image: linear-gradient(to bottom, #82c91e 40%, rgba(130, 201, 30, 0.8));
  color: #f8f9fa;
  height: 8vh;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  font-size: 3rem;
  font-weight: 800;
}
.nav__links {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
}
.nav__link {
  text-decoration: none;
  color: #f8f9fa;
  padding: 0.2rem;
  border: 3px solid transparent;
  transition: all 0.2s ease-in-out;
}
.nav__link:not(:last-child) {
  margin-right: 1rem;
}
.nav__link:hover {
  background-color: #5c940d;
  color: #f8f9fa;
  transform: skewY(-5deg);
}

.sidebar__content {
  position: relative;
  z-index: 2;
  background-color: #dfe2e4;
  height: 92vh;
  width: 40vh;
  transition: all 0.3s ease-in-out;
}
.sidebar__icon {
  width: 3rem;
}
.sidebar__buttons {
  position: absolute;
  z-index: 1;
  top: 10rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.sidebar__btn {
  cursor: pointer;
}
.sidebar__btn--open {
  color: #82c91e;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__btn--close {
  color: #82c91e;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.hidden-sidebar {
  visibility: hidden;
  transform: translateX(-35rem);
}

.activities {
  padding: 2rem;
}

.activity {
  position: relative;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  width: 90%;
  height: 15%;
  display: grid;
  grid-template-columns: 20%, 80%;
}
.activity__logo {
  height: 5rem;
  grid-column: 1/2;
  grid-row: 1/3;
}
.activity__aside {
  grid-column: 2/3;
  grid-row: 1/3;
}
.activity__meter {
  transition: all 0.3s ease;
  background-image: linear-gradient(to right, #82c91e 0% 10%, #e9ecef 10% 100%);
  width: 80%;
  height: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.2rem;
}
.activity__sets {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #82c91e;
  color: #fff;
  padding: 3rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
}
.activity__sets-text {
  font-size: 1.8rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.activity__reps {
  padding: 0.2rem 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  color: #212529;
}
.activity__title {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #5c940d;
  font-weight: 500;
}

.display__timer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5rem solid #82c91e;
  border-radius: 100rem;
  width: 40rem;
  height: 40rem;
  font-size: 10rem;
  background-image: linear-gradient(to bottom right, #c0eb75, #5c940d);
  -webkit-background-clip: text;
  color: transparent;
}

.section__creator {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.creator {
  position: relative;
  background-color: #eee;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.creator__btn-close {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}
.creator__icon {
  width: 3rem;
  height: 3rem;
}
.creator__btn-submit {
  cursor: pointer;
  border: none;
  background-color: #82c91e;
  color: #f8f9fa;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  grid-column: 1/3;
  grid-row: 4/5;
}
.creator__title {
  background-color: #82c91e;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  width: 80%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem 0.5rem 0 0;
}
.creator__icons {
  background-color: #dfe2e4;
  width: 95%;
  height: 95%;
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
  border-radius: 1rem;
}
.creator__field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.creator__field-title {
  grid-column: 1/3;
  grid-row: 1/2;
}
.creator__field-repTime {
  grid-column: 1/2;
  grid-row: 2/3;
}
.creator__field-breakTime {
  grid-column: 2/3;
  grid-row: 2/3;
}
.creator__field-sets {
  grid-column: 1/2;
  grid-row: 3/4;
}
.creator__field-reps {
  grid-column: 2/3;
  grid-row: 3/4;
}
.creator__form {
  grid-column: 2/3;
  grid-row: 1/3;
  gap: 4rem;
  padding: 2rem;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.creator__label {
  color: #82c91e;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0.5rem;
}
.creator__input {
  border: 1px solid #5c940d;
  outline: none;
  border-radius: 1rem;
  height: 4rem;
  width: 100%;
  padding: 1rem;
  color: #343a40;
  font-size: 2rem;
}

.hidden__creator {
  visibility: hidden;
}

.header {
  position: relative;
  height: 80vh;
  background-color: #e9ecef;
  color: #f8f9fa;
}
.header__title {
  font-size: 10rem;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to bottom right, #c0eb75, #5c940d);
  -webkit-background-clip: text;
  color: transparent;
  filter: drop-shadow(0.2rem 0.5rem 0rem rgba(255, 255, 255, 0.5));
  z-index: 1;
}
.header__blocks {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__block {
  background-image: linear-gradient(to right bottom, #c0eb75, #5c940d);
  height: 30rem;
  width: 20rem;
  transform: skewY(15deg);
  opacity: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__block--1 {
  animation: blink 6s ease-in infinite;
}
.header__block--2 {
  animation: blink 6s ease-in 0.2s infinite;
}
.header__block--3 {
  animation: blink 6s ease-in 0.4s infinite;
}
.header__block--4 {
  animation: blink 6s ease-in 0.6s infinite;
}
.header__image {
  height: 80%;
}

.activities__body {
  display: grid;
  grid-template-columns: 100vh;
  grid-template-rows: 8vh, 92vh;
}
.activities__nav {
  grid-column: 1/4;
  grid-row: 1/2;
}
.activities__main {
  grid-column: 1/4;
  grid-row: 2/3;
}
.activities__sidebar {
  grid-column: 1/4;
  grid-row: 2/3;
}
.activities__title {
  text-transform: uppercase;
  padding: 1rem;
  color: #5c940d;
}

.section__display {
  background-color: #eee;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section__display .display__title {
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding: 2rem;
  background-image: linear-gradient(to bottom right, #c0eb75, #5c940d);
  -webkit-background-clip: text;
  color: transparent;
}
.section__display .display__buttons {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.section__display .display__stats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.section__display .display__reps, .section__display .display__sets {
  font-size: 3rem;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom right, #c0eb75, #5c940d);
  -webkit-background-clip: text;
  color: transparent;
}
.section__display .display__btn {
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #82c91e;
  border: 3px solid #82c91e;
  border-radius: 0.5rem;
  padding: 1rem;
}
.section__display .display__btn:hover {
  background-color: #82c91e;
  color: #fff;
}
.seperator {
  font-size: 3rem;
  background-image: linear-gradient(to bottom right, #c0eb75, #5c940d);
  -webkit-background-clip: text;
  color: transparent;
}

/*# sourceMappingURL=output.css.map */
