$color-primary: #82c91e;
$color-primary-dark: #5c940d;
$color-primary-light: #c0eb75;

$color-secondary: #868e96;
$color-secondary-dark: #212529;
$color-secondary-light: #e9ecef;
$color-secondary-light-1: #dfe2e4;

$text-dark: #343a40;
$text-light: #f8f9fa;

$color-red: #c92a2a;
