@keyframes blink {
  0% {
    opacity: 0%;
  }
  5% {
    opacity: 10%;
  }
  10% {
    opacity: 20%;
  }
  15% {
    opacity: 30%;
  }
  20% {
    opacity: 40%;
  }
  25% {
    opacity: 50%;
  }
  30% {
    opacity: 40%;
  }
  35% {
    opacity: 30%;
  }
  40% {
    opacity: 20%;
  }
  45% {
    opacity: 10%;
  }
  50% {
    opacity: 0%;
  }
  55% {
    opacity: 0%;
  }
  60% {
    opacity: 0%;
  }
  65% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  80% {
    opacity: 0%;
  }
  85% {
    opacity: 0%;
  }
  90% {
    opacity: 0%;
  }
  95% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}
