*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Temporary

.main {
  position: relative;
}

.wrongInput {
  animation: wrongInput 0.3s ease;
  border: 1px solid $color-red !important;
}

#map {
  height: 90vh;
}
