*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Temporary

.main {
  position: relative;
}

.wrongInput {
  animation: wrongInput 0.3s ease;
  border: 1px solid $color-red !important;
}

#map {
  height: 90vh;
}

//ScrollBar
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: $color-primary-dark;
  border-radius: 10px;
}
